@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this CSS for the shake animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

html, body {
  height: 100%;
}
.shake {
  animation: shake 0.2s ease-in-out;
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* For Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Set scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* Set thumb to transparent */
  border-radius: 4px; /* Optional: round the edges */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Set track to transparent */
}

/* calendarStyles.css */

.react-calendar {
  border: none; /* Remove default border */
  border-radius: 8px; /* Round corners */
  background: #ffffff; /* White background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.react-calendar__month-view__days__day {
  font-size: 16px; /* Increase font size */
  color: #333; /* Darker text for better readability */
  padding: 10px; /* Add padding for touch targets */
  border-radius: 4px; /* Round day corners */
}

.react-calendar__month-view__days__day--weekend {
  color: #f43f5e; /* Different color for weekends */
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #bcbcbc; /* Lighter color for days of neighboring months */
}

.react-calendar__tile {
  border-radius: 8px; /* Round tile corners */
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.react-calendar__tile:hover {
  background: rgba(0, 124, 255, 0.1); /* Light blue on hover */
}

.react-calendar__tile--active {
  background: #007bff; /* Active tile color */
  color: white; /* Active tile text color */
  border-radius: 8px; /* Round corners */
}

.react-calendar__navigation button {
  color: #007bff; /* Navigation button color */
}

.react-calendar__navigation button:enabled:hover {
  background: rgba(0, 124, 255, 0.1); /* Light blue on hover for nav buttons */
}


/* Overlay to cover the entire screen */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other elements */
  transition: opacity 0.3s ease;
}

/* Content inside the modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Gives the floating effect */
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  transition: transform 0.3s ease;
}

/* Modal title */
.modal-title {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

/* Image inside the modal */
.modal-image {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Close button */
.close-button {
  padding: 10px 20px;
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Hover effect for close button */
.close-button:hover {
  background-color: #ff6b81;
}




.dotted-circle {
  width: 48px;
  height: 48px;
  border: 4px dotted #4299e1;
  border-radius: 50%;
  animation: rotate 5.0s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@keyframes bounceDelay {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

.bounce-dot {
  animation: bounceDelay 1.2s infinite ease-in-out;
}

.bounce-dot:nth-child(1) {
  animation-delay: 0s;
}
.bounce-dot:nth-child(2) {
  animation-delay: 0.2s;
}
.bounce-dot:nth-child(3) {
  animation-delay: 0.4s;
}
